<!DOCTYPE html>
{% load static from staticfiles %}
{% load i18n %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HEY!São Paulo</title>
    <link rel="icon" type="image/png" href="{% static "icon.png" %}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/site.css" %}">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40454735-1', 'heysaopaulo.com.br');
      ga('send', 'pageview');

    </script>
</head>
<body data-spy="scroll" data-target="#navspy">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div class="navbar navbar-default navbar-fixed-top container" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">{% trans "HEY!SãoPaulo" %}</a>
    </div>
    <div class="collapse navbar-collapse" id="navspy">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#home">{% trans "home" %}</a></li>
            <li><a href="#info">{% trans "info" %}</a></li>
            <li><a href="#schedule">{% trans "agenda" %}</a></li>
            <li><a href="#pics">{% trans "fotos" %}</a></li>
            <li><a href="#contact">{% trans "contatoeparceiros" %}</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div><!-- /.navbar -->
<div class="navbar-fixed-top container out">
    <div>
        <ul class="navbar-nav">
            <li class="active"><a href="/pt/">portuguese</a> |</li>
            <li>&nbsp;<a href="/en/">english</a></li>
        </ul>
        <small>{{ request.LANGUAGE_CODE }}</small>
    </div>
</div>

<div class="container">
    <div class="page" id="home">
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <img src="{% static "imgs/heysaopaulo.svg" %}" class="logo img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-4 hidden-xs hidden-sm">
                    <img src="{% static "imgs/oh.svg" %}" class="oh">
                </div>
                <div class="col-md-7 vemd">
                    <h3 class="vem">{% trans "Vem pedalar com&nbsp;a&nbsp;gente!" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-4">
                    <ul class="nav nav-pills nav-stacked menu">
                        <li>
                            <a href="#schedule">
                                <img src="{% static "imgs/sched.svg" %}" class="list-icon"> {% trans "agenda" %}
                            </a>
                        </li>
                        <li>
                            <a href="#pics">
                                <img src="{% static "imgs/pics.svg" %}" class="list-icon"> {% trans "fotos" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div id="carousel-home" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
            <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item">
                  <img class="img-responsive"  src="{% static "imgs/c1.jpg" %}" alt="...">
                  <div class="carousel-caption">
                   <p>{% trans "São Paulo de bike é linda!" %}</p>
                  </div>
                </div>
                <div class="item">
                  <img class="fill img-responsive" src="{% static "imgs/c2.jpg" %}" alt="...">
                  <div class="carousel-caption">
                   <p>{% trans "Quem pedala desbrava!" %}</p>
                  </div>
                </div>
                <div class="item active">
                  <img class="img-responsive"  src="{% static "imgs/c3.jpg" %}" alt="...">
                  <div class="carousel-caption">
                   <p>{% trans "Vem conhecer SP com vento no rosto :)" %}</p>
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-home" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-home" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
        </div>
    </div>
    <div class="row overlap-md">
        <div class="col-md-7">
            <iframe id="ytplayer"
                           type="text/html"
                           width="576"
                           height="324"
                           src="//youtube.com/embed/B0heUfIdoBM?modestbranding=1&rel=0&showinfo=0&autohide=1&color=white&theme=light"
                           frameborder="0"
                           allowfullscreen>
            </iframe>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="fb-like-box" data-href="https://www.facebook.com/heysaopaulo" data-width="600" data-show-faces="false" data-stream="true" data-show-border="false" data-header="false"></div>
        </div>
    </div>
    </div>
    <div class="page" id="info">
   <div class="row">
        <div class="col-md-4 infobox">
            <h1 class="text-center info yellow">{% trans "info." %}</h1>
            <h1 class="text-center hidden-xs "><img src="{% static "imgs/info.svg" %}"></h1>
            <blockquote>
                {% trans "<p>quote</p><small>quem</small>" %}
            </blockquote>
        </div>
        <div class="col-md-6 col-md-offset-1 textcol">
            {% trans "texto grande de informação" %}
        </div>
    </div>
    </div>
</div>
<div class="green">
<div class="container">
    <div class="page" id="schedule">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans 'Tour<span class="pink">&amp;</span>Reservas:' %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {% trans "texto grande tours e reservas" %}
        </div>
        <div class="col-md-8 col-md-offset-1">
            <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=200&amp;wkst=2&amp;mode=MONTH&amp;hl=pt_BR&amp;bgcolor=%23742D91&amp;src=8esanpmc8eet3vkgd0nvpc0c6c%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FSao_Paulo" height="600" frameborder="0" scrolling="no" id="gcal"></iframe>
        </div>
    </div>
    </div>
</div>
</div>
<div class="container aftergreen">
    <div class="page" id="pics">
   <div class="row">
        <div class="col-md-4">
            <h1><img src="{% static "imgs/pics.svg" %}">&nbsp;{% trans "fotos" %}</h1>
        </div>
        <div class="col-md-4 pull-right">
            <h3 class="orange veja">{% trans "Veja&nbsp;algumas&nbsp;fotos de&nbsp;nossos&nbsp;tours" %}</h3>
        </div>
    </div>
   <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="carousel-pics" class="carousel slide purplebox" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item">
                  <img class="img-responsive"  src="{% static "imgs/pics/sp1.jpg" %}" alt="...">
                </div>
                <div class="item">
                  <img class="fill img-responsive" src="{% static "imgs/pics/sp2.jpg" %}" alt="...">
                </div>
                <div class="item active">
                  <img class="img-responsive"  src="{% static "imgs/pics/sp3.jpg" %}" alt="...">
                </div>
                <div class="item">
                  <img class="img-responsive"  src="{% static "imgs/pics/sp4.jpg" %}" alt="...">
                </div>
                <div class="item">
                  <img class="img-responsive"  src="{% static "imgs/pics/sp5.jpg" %}" alt="...">
                </div>
                <div class="item">
                  <img class="img-responsive"  src="{% static "imgs/pics/sp6.jpg" %}" alt="...">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-pics" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-pics" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="row hidden-xs picsthumbs">
            <div class="col-sm-2">
                <img data-target="#carousel-pics" data-slide-to="0" class="img-responsive"  src="{% static "imgs/pics/sp1.jpg" %}" alt="...">
            </div>
            <div class="col-sm-2">
                <img data-target="#carousel-pics" data-slide-to="1" class="img-responsive"  src="{% static "imgs/pics/sp2.jpg" %}" alt="...">
            </div>
            <div class="col-sm-2">
                <img data-target="#carousel-pics" data-slide-to="2" class="img-responsive"  src="{% static "imgs/pics/sp3.jpg" %}" alt="...">
            </div>
            <div class="col-sm-2">
                <img data-target="#carousel-pics" data-slide-to="3" class="img-responsive"  src="{% static "imgs/pics/sp4.jpg" %}" alt="...">
            </div>
            <div class="col-sm-2">
                <img data-target="#carousel-pics" data-slide-to="4" class="img-responsive"  src="{% static "imgs/pics/sp5.jpg" %}" alt="...">
            </div>
            <div class="col-sm-2">
                <img data-target="#carousel-pics" data-slide-to="5" class="img-responsive"  src="{% static "imgs/pics/sp6.jpg" %}" alt="...">
            </div>
        </div>
    </div>
    </div>
    </div>
    <div class="page" id="contact">
   <div class="row">
        <div class="col-md-4 contato">
        <form class="c2" id="form1" name="form1" enctype="multipart/form-data" method="post" novalidate
      action="https://heysaopaulo.wufoo.com/forms/zdlp4h511pnwjr/#public">
            <input type="hidden" name="idstamp" id="idstamp" value="edLcBcgM8w3iF8RNQF/TGBthLmIuJ7Oy/IAnzqxnEeY=">
            <div class="row">
                <div class="col-xs-10">
                    <p class="text-center"><img src="{% static "imgs/contact.svg" %}" class="contacticon"></p>
                    <h1 class="text-center">{% trans "Contato" %}</h1>
                    <p>{% trans 'Para agendar seu passeio ou se tiver sugestões, envie-nos uma mensagem aqui ou por email em: <a href="mailto:hey@heysaopaulo.com.br">hey@heysaopaulo.com.br' %}</a></p>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="{% trans 'nome' %}" id="Field13" name="Field13">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="{% trans 'email' %}" id="Field9" name="Field9" type="email" >
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="{% trans 'assunto' %}" id="Field10" name="Field10">
                        </div>
                        <textarea class="form-control" rows="3" id="Field11" name="Field11"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-xs-offset-10">
                    <button class="btn send" type="submit" id="saveForm" name="saveForm" value="Enviar">OK</button>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-7 col-md-offset-1 parcol">
            {%trans "texto grande parceiros" %}
            <div class="row partner first">
                <div class="col-xs-3">
                    <img src="{% static "imgs/logos/alforjaria.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                    <img src="{% static "imgs/logos/bikeforever.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/blacktape.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/btwin.jpg" %}" class="img-thumbnail img-responsive">
                </div>
            </div>
            <div class="row partner">
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/conexao.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/gonza.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/guest.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/odecasa.jpg" %}" class="img-thumbnail img-responsive">
                </div>
            </div>
            <div class="row partner">
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/ogangorra.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/lasmagrelas.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/arnold2.jpg" %}" class="img-thumbnail img-responsive">
                </div>
                <div class="col-xs-3">
                <img src="{% static "imgs/logos/bee.jpg" %}" class="img-thumbnail img-responsive">
                </div>
            </div>
        </div>
    </div>
    </div>
</div><!-- /.container -->
<div class="orange footerend">
    <div class="container">
        <div class="row footer">
            <div class="col-xs-8">
                <p>{% trans "HEY!São Paulo® 2013 todos os direitos reservados" %}</p>
            </div>
            <div class="col-xs-4">
                <p class="pull-right">Estúdio Arnold 2013</p>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery.min.js" %}"><\/script>')</script>
<script src="{% static "js/vendor/jquery.fitvids.js" %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.6/jquery.scrollTo.min.js"></script>
<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=126986674164650";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
